body { background-image: url(premium_photo-1661963287664-ea60b0039118.avif);
background-size: cover;
background-position: center;
background-attachment: fixed;
color: rgb(0, 0, 0);
}

#botCadastro { 
    color: blue;
    text-align: center;
}






